---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en">
	<head>
		<BaseHead title='About' description='What is this madness?' />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body class="min-h-screen flex flex-col">
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<p>Questo mini sito esiste per memare Biri che si è laureata ed è bella!</p>
						<p><i>Birpi! Magico Birpi! Stupendo Birpi! lalalala lallalalà!</i></p>
						<p><i>Birpi Fantastica! Birpi un po' magica! Birpi gloriosa è!</i></p>
						<p><i>Birpi Birpi Birpi!</i></p>
						<hr />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
